.App {
  min-height: 100vh;
  background: radial-gradient(
    ellipse at center,
    var(--blue-100) 75%,
    var(--blue-200) 100%
  );
}

.wizard-app {
  &__container {
    padding: 2rem 15%;
    max-width: 1200px;
  }

  &__title {
    text-align: left;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__content {
    min-height: 25vh;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--blue-800);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}


@media (max-width: 1024px) {
  .App .wizard-app__container{
    padding: 1rem 7.5%;
  }
}
