.wizard-welcome {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__icon {
        max-width: 280px;
        display: flex;
        
        img {
            width: 100%;
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}