@import "@style/color.scss";
@import "@style/typography.scss";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}

body {
  background: var(--background);
  color: var(--font-color);
  font-family: system-ui, sans-serif;
}
